{% extends "base.html" %}
{% block extra_head %}
    <style>
        .main-page {
            padding-top:1em;
            padding-bottom:1em;
        }
    </style>
{% endblock %}
{% block top_bar %}
    <a href="{% url 'home' %}"><i class="material-icons">home</i></a>
    <a href="{% url "profile-index" %}" style="float:right;"><i class="material-icons">account_circle</i></a>
{% endblock %}
{% block content %}
    <div class="main-page">
        <div style="text-align: center;">
            <h1><a href="{% url "view-paper" paper.slug %}">@{{ paper.slug }}</a></h1>
        </div>
        <br />
        {% if not mentions %}
        <div style="text-align: center;">
            No Mentions
        </div>
        {% endif %}
        <ul style="list-style:none;">
        {% for item in mentions %}
            <li>
                <a href="/paper/{{ item.slug }}/"><b>@{{ item.slug }}</b></a>
                <br />
                {{ item.created }}
                <hr />
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}